body{
    background-color: #24353F !important;
}
.color{
    background-color: #24353F ;
}
h1{
    color: #17a2b8 !important;
}
.sign-in{
    cursor: pointer;
}
.sign-in:hover{
    text-decoration: underline;
}